@import '../../../assets/sass/mixins.scss';

.container {
  @include mq(tablet) {
    position: relative;
    max-width: 768px;
    // margin: 0 auto;
  }
  @include mq(desktop) {
    max-width: 1280px;
  }
}
