@import '../../assets/sass/mixins.scss';

.container {
  margin: 0;
  background-color: #fc842d;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;

  @include mq(tablet) {
    margin-top: 100px;
    padding-left: 32px;
    align-items: flex-start;
  }
  @include mq(desktop) {
    margin-top: 147px;
    padding-left: 16px;
  }

  .title {
    font-size: 18px;
    @include mq(tablet) {
      font-size: 34px;
    }
  }
  .form {
    margin-top: 32px;
    @include mq(tablet) {
      margin-top: 68px;
    }
  }

  .fieldsWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px 32px;
    width: 240px;
    @include mq(tablet) {
      height: 205px;
      flex-wrap: wrap;
    }
  }

  .fieldWrapper {
    position: relative;
    @include mq(tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  .textLabel {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #9b9faa;
  }

  .radioLabel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #9b9faa;
  }
  .input {
    background-color: transparent;
    margin-top: 8px;
    width: 100%;
    left: 16px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    &:focus {
      outline: none;
    }
    @include mq(tablet) {
      width: 240px;
      font-size: 14px;
    }
  }
  .radioGroup {
    position: absolute;
    width: 240px;
    padding-top: 25px;
    // border-top: 1px solid #e0e0e0;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    @include mq(tablet) {
      padding-top: 35px;
    }
  }
}

.radioLabel > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radioLabel > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radioLabel > span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.radioLabel > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #fc842d;
}

.radioLabel > input:checked + span::before {
  border-color: #fc842d;
  background-color: #fc842d;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 43px;
  margin-top: 60px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  border: transparent;
  &:hover,
  :focus {
    color: #fc842d;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
  }
  @include mq(tablet) {
    position: absolute;
    left: 0;
    bottom: -95px;
    margin-top: 0;
  }

  @include mq(desktop) {
    left: 300px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
