.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fields {
  &__cover {
    position: relative;
    margin-top: 80px;
    margin-bottom: 32px;
    text-align: center;
  }
  &__dataPicker {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 55%;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 12%;
    left: 70%;
    pointer-events: none;
  }
  &__btn {
    position: relative;
    padding: 18px 18px;
    background-color: #fc842d;
    border: 3px solid #fc842d;
    border-radius: 50px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &_plus {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    &:hover {
      background-color: transparent;
      color: #000000;
    }
  }
}
