@import "../../../assets/sass/mixins.scss";

.loginBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .leaves {
    @include mq(tablet) {
      z-index: -2;
      top: -220px;
      right: -150px;
      width: 900px;
      height: 900px;
      position: absolute;
      background-image: url("../../../assets/images/loginBG/leaves.png");
      background-repeat: no-repeat;
    }
    @include mq(desktop) {
      top: 0;
      right: 0;
      width: 1000px;
      height: 1000px;
    }
  }

  .banana {
    @include mq(tablet) {
      right: 0;
      bottom: -150px;
      position: absolute;
      width: 500px;
      height: 500px;
      background-image: url("../../../assets/images/loginBG/banana.png");
      background-repeat: no-repeat;
    }
    @include mq(desktop) {
      top: 0;
      right: 0;
    }
  }

  .strawberry {
    @include mq(tablet) {
      right: -200px;
      top: 200px;
      position: absolute;
      width: 500px;
      height: 500px;
      background-image: url("../../../assets/images/loginBG/strawberry.png");
      background-repeat: no-repeat;
    }
    @include mq(desktop) {
      top: 506px;
      right: -100px;
    }
  }

  .grey {
    @include mq(mobile-only) {
      display: none;
    }
    @include mq(tablet) {
      position: absolute;
      width: 800px;
      height: 800px;
      z-index: -3;
      bottom: -100px;
      right: -150px;
    }
    @include mq(desktop) {
      bottom: 0;
      right: -110px;
    }
  }
}
