@import '../../assets/sass/mixins.scss';
.additional_bar {
  height: 40px;
  background: #eff1f3;
}
.additional_barx {
  width: 12px;
  height: 40px;
  margin-left: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 700px;
  position: relative;
}

.close {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-size: 16px;
  font-weight: 600;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;
}

.modal_main_wrapper {
  text-align: center;
  min-width: 320px;
}
.modalh2 {
  font-size: 26px;
  text-align: center;
  line-height: calc(32 / 26) px;
  font-weight: 700;
}
.modalkkal {
  font-size: 48px;
  text-align: center;
  line-height: calc(58 / 48) px;
  font-weight: 700;
  letter-spacing: 4%;
}
.modalkkal_text {
  font-size: 16px;
  text-align: center;
  line-height: calc(20 / 16) px;
  font-weight: 700;
  letter-spacing: 4%;
}
.horizontal_line {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
}
.modal_second_wrapper {
  width: 330px;
  margin: 0 auto;
}
.products_header {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
}

.loose_weight_btn {
  display: inline-block;
  text-decoration: none;
  min-width: 210px;
  padding: 13px 51px 13px 50px;
  margin-bottom: 81px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  border: transparent;
  &:hover,
  :focus {
    color: #fc842d;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
  }
}

.svgx {
  width: 12px;
  height: 12px;
}

@include mq(mobile-only) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: normal;
    align-items: normal;
    z-index: 1000;
    margin-top: 81px;
  }
  .content {
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
    min-width: 300px;
    max-width: 700px;
    position: relative;
  }
  .modal_main_wrapper {
    text-align: center;
    min-width: 320px;
    margin-left: 0px;
  }
  .modalh2 {
    width: 320px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
  }

  .horizontal_line {
    display: block;
    margin-top: 32px;
    width: 100%;
    border-top: 1px solid #ccc;
  }
  .modal_second_wrapper {
    width: 280px;
    margin-left: 20px;
  }
  .products_header {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .loose_weight_btn {
    display: inline-block;
    text-decoration: none;
    min-width: 210px;
    padding: 13px 25px 13px 25px;
    margin-bottom: 81px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    border: transparent;
    &:hover,
    :focus {
      color: #fc842d;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
      border-radius: 30px;
    }
  }

  .svgx {
    width: 12px;
    height: 12px;
  }
}
@include mq(tablet-only) {
}
