// * {
//   outline: 1px solid red;
// }

body {
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  height: 100vh;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.btn {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
