body {
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
