:root {
  --primary-text-color: #9b9faa;
  --secondary-text-color: #212121;
  --highlight-white-color: #ffffff;
  --highlight-black-color: #212121;
  --brand-color: #fc842d;
  --background-main-color: #ffffff;
  --background-secondary-color: ##f0f1f3;
  --background-mobile-menu: #264061;
}
